.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  max-height: 60vh;
}

.completedContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.completedHeading {
  font-size: 1rem;
  font-weight: 500;
  color: var(--taskflow-color-gray-400);
}

.noTodos {
  font-size: 1rem;
  font-weight: 500;
  color: var(--taskflow-color-gray-400);
  text-align: center;
}

@media (max-width: 768px) {
  .list {
    max-height: 70vh;
  }
}
